


a, #include-exp, input[type=submit] {
    float: left;
}

/******************************************* 
Replacement Staff
*******************************************/
label {    
    display: inline-block;
   
}

/******************************************* 
Benifits of Attending 
*******************************************/
textarea {
    float: left;
    width:  900px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.col-md-10, .form-group {
    margin-left: 100px;
    /*make respinsive*/
}

dd{
    margin-bottom: 15px;
}
